::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border: 3px solid #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, $theme_color_1, $theme_color_1);
  border-radius: 3px;
}

.scroll-bar {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.scroll-bar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}