.popup-window {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(54, 53, 52, 0.4509803922);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  max-width: 1280px;
  min-width: 992px;
  background: white;
}

.popup-container {
  width: 100%;
  height: 100%;
}


.popup-row-1st {
  display: flex;
  width: 100%;
  height: 75%;
}

.popup-row-2nd {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: flex-end;
}

.popup-col {
  width: 50%;
}

.popup-image {
  min-width: 366px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}

.closed {
  display: block;
  width: 60px;
  height: 50px;
  font-size: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: transparent;
  transition: 0.6s;
  cursor: pointer;
}

//media query for small screen 
@media only screen and (min-width:367px) and (max-width:992px) {

  .popup-card {
    display: none;
  }

  .popup-card-medium {
    max-width: 992px;
    min-width: 367px;
    width: 100%;
    height: 70%;
    background: white;
  }

  .popup-row-1st-medium {
    display: flex;
    width: 100%;
    height: 75%;
  }

  .popup-col-medium {
    width: 100%;
  }

  .closed-medium {
    display: block;
    width: 60px;
    height: 50px;
    font-size: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: transparent;
    transition: 0.6s;
    cursor: pointer;
  }

  .popup-row-2nd {
    height: 10%;
  }
}

@media only screen and (min-width:676px) and (max-width:992px) {
  .popup-image-medium {
    min-width: 346px;
    max-width: 553px;
  }

}

@media only screen and (min-width:476px) and (max-width:676px) {}

@media only screen and (min-width:367px) and (max-width:675px) {
  .popup-card-medium {
    max-width: 992px;
    min-width: 367px;
    width: 100%;
    height: 91%;
    background: white;
  }

  .popup-row-1st-medium {
    height: 90%;
    flex-direction: column;
  }

  .popup-image-medium {
    min-width: 376px;
    max-width: 553px;
  }
}

@media only screen and (min-width:992px) {

  .popup-card-medium {
    display: none;
  }
}